{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="net") }}

<table>
    <tr>
      <td>Исходный файл</td>
      <td>С рамкой</td>
      <td>График</td>
    </tr>
    <tr>
    <td>
        {% if filename %}
        <p>{{filename}}
        <p><img src={{filename}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>
      <td>
        {% if image_name %}
        <p>{{image_name}}
        <p><img src={{image_name}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>

    <td>
        {% if gr_name %}
        <p>{{gr_name}}
        <p><img src={{gr_name}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>
    </tr>
    
  </table>

{% endblock %}
